build
.classpath
.gitignore
.project
.gradle
.idea

template/java8-maven/java8-maven.iml

java8-maven-ci/

template/java8-maven/function/target/

template/java8-maven/function/function.iml

template/java8/**/bin/
template/java12/**/bin/
